<div *ngIf="alert" class="fd-alert fd-alert--error fd-alert--dismissible" role="alert">
  <button class="fd-alert__close" aria-label="Close" (click)="closeAlert()"></button>
  {{alertMessage}}
  <br />
</div>

<header class="fd-page__header fd-has-background-color-background-2">
  <section class="fd-section">
    <div class="fd-action-bar">
      <div class="fd-action-bar__back">
        <button routerLink="/" class="fd-button--light fd-button--compact sap-icon--nav-back"></button>
      </div>
      <div class="fd-action-bar__header">
        <h1 class="fd-action-bar__title">
          {{api.name}}
        </h1>
      </div>
      <div class="fd-action-bar__actions">
        <button *ngIf="!readonly" class=" fd-button--primary fd-button--l" (click)="updateApi()">Update</button>
        <button *ngIf="event && remote" class=" fd-button--primary fd-button--l" (click)="sendEvent()">Send Event</button>
      </div>
    </div>
  </section>
</header>

<section class="fd-section">
  <table class="fd-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <ng-container *ngIf="!event">
          <th>TargetUrl</th>
          <th>SpecUrl</th>
        </ng-container>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="fd-has-font-weight-bold">{{api.name}}</td>
        <td>{{api.description}}</td>
        <ng-container *ngIf="!event">
          <td>{{api.api.targetUrl}}</td>
          <td>{{api.api.specificationUrl}}</td>
        </ng-container>
        <td>{{api.labels.type}}</td>
        <td>
          <span *ngIf='remote' class="fd-badge fd-badge--success">remote</span>
          <span *ngIf='!remote' class="fd-badge fd-badge--warning">local</span>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div *ngIf="loading" class="fd-spinner" hidden aria-label="Loading">

</div>