<div *ngIf="alert" class="fd-alert fd-alert--error fd-alert--dismissible" role="alert">
  <button class="fd-alert__close" aria-label="Close" (click)="closeAlert()"></button>
  {{alertMessage}}
  <br />
</div>

<header class="fd-page__header fd-has-background-color-background-2">
  <section class="fd-section">
    <div class="fd-action-bar">
      <div class="fd-action-bar__back">
        <button routerLink="/" class="fd-button--light fd-button--compact sap-icon--nav-back"></button>
      </div>
      <div class="fd-action-bar__header">
        <h1 class="fd-action-bar__title">
          {{api.name}}
        </h1>
      </div>
      <div class="fd-action-bar__actions">
        <button *ngIf="!readonly" class=" fd-button--primary fd-button--l" (click)="updateApi()">Update</button>
        <button *ngIf="event && remote" class=" fd-button--primary fd-button--l" (click)="sendEvent()">Send Event</button>
      </div>
    </div>
    <table class="fd-table fd-table--no-borders">
      <tbody>
        <tr>
          <td class="y-fd-table--col-2 fd-has-color-text-4">Name</td>
          <td>{{api.name}}</td>
        </tr>
        <tr>
          <td class="y-fd-table--col-2 fd-has-color-text-4">Description</td>
          <td>{{api.description}}</td>
        </tr>
        <ng-container *ngIf="!event">
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">TargetUrl</td>
            <td>{{api.api.targetUrl}}</td>
          </tr>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">SpecUrl</td>
            <td>{{api.api.specificationUrl}}</td>
          </tr>
        </ng-container>
        <tr>
          <td class="y-fd-table--col-2 fd-has-color-text-4">Type</td>
          <td>{{api.labels.type}}</td>
        </tr>
        <tr>
          <td class="y-fd-table--col-2 fd-has-color-text-4">Status</td>
          <td>
            <span *ngIf='remote' class="fd-badge fd-badge--success">remote</span>
            <span *ngIf='!remote' class="fd-badge fd-badge--warning">local</span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</header>

<div *ngIf="loading" class="fd-spinner" hidden aria-label="Loading">

</div>