<br />
<br />
<div *ngIf="!connected" style="background-color: white">
    <h2>Connection Overview</h2>
    <br />
    <div style="text-align:center">
        <button (click)=" openModal()" id="connectBtn" class="fd-button">Connect</button>
    </div>
    <br />
</div>
<div *ngIf="connected" style="background-color: white">
    <div class="fd-action-bar">
        <div class="fd-action-bar__back">
            <button class="fd-button--light fd-button--compact sap-icon--nav-back"></button>
        </div>
        <div class="fd-action-bar__header">
            <h2 class="fd-action-bar__title">
                Connection Overview
            </h2>
        </div>
        <div class="fd-action-bar__actions">
            <button class="fd-button--negative fd-button--light" (click)="onDisconnect()">Disconnect</button>
            <button class="fd-button--light sap-icon--download">private key</button>
            <button class="fd-button--light sap-icon--download">certificate</button>
        </div>
    </div>
    <div class="fd-container fd-container--fluid" style="background-color: white;">
        <span class="fd-tabs__item fd-col--1">
            Application<br /><br />
            Domain<br /><br />
            Status
        </span>
        <span class="fd-tabs__item fd-col--2">
            {{connection.application}}<br /><br />
            {{connection.domain}}<br /><br />
            <span class="fd-badge fd-badge--success">Connected</span> <span *ngIf="insecureConnection"
                class="fd-badge fd-badge--warning">Insecure</span>
        </span>
    </div>
</div>
<br />
<div *ngIf="!connected" style="background-color: white">
    <h3>Local API</h3>
    <api-table [remote]='false'></api-table>
</div>
<div *ngIf="connected" style="background-color: white">
    <div class="fd-action-bar">
        <div class="fd-action-bar__header">
            <ul class="fd-tabs" role="tablist">
                <li class="fd-tabs__item">
                    <a class=" fd-tabs__link" aria-controls="apitable" attr.aria-selected={{!remote}}
                        (click)="onLocalAPIClick()" href="#apitable" role="tab">
                        Local APIs
                    </a>
                </li>
                <li class="fd-tabs__item">
                    <a class=" fd-tabs__link" aria-controls="apitable" attr.aria-selected={{remote}}
                        (click)="onRemoteAPIClick()" href="#apitable" role="tab">
                        Remote APIs
                    </a>
                </li>
            </ul>
        </div>
        <div *ngIf="!remote" class="fd-action-bar__actions">
            <button class="fd-button fd-button--light" style="margin-right: 12px" (click)="onBatchRegisteration()">Batch
                Registeration <span class="fd-inline-help">
                    <span class="fd-inline-help__content fd-inline-help__content--bottom-left">
                        Register all the local apis to kyma
                    </span>
                </span></button>

        </div>
        <div *ngIf="remote" class="fd-action-bar__actions">
            <button class="fd-button--standard sap-icon--search"></button>
            <button class="fd-button--standard sap-icon--filter"></button>
            <button class="fd-button fd-button--light">Create New API</button>
            <button class="fd-button fd-button--light">Create New Event</button>
        </div>
    </div>
    <api-table [remote]='remote'></api-table>
</div>
<div *ngIf="modalActive" class="fd-ui__overlay fd-overlay fd-overlay--modal" aria-hidden="false">
    <div class="fd-modal" role="dialog" style="height:60%;width: 45%;max-width:none">
        <div class="fd-modal__content" role="document">
            <div class="fd-modal__header">
                <h1 class="fd-modal__title">Connect to Kyma</h1>
                <button (click)="onCloseModalClick()" class="fd-button--light fd-modal__close"
                    aria-label="close"></button>
            </div>
            <div class="fd-modal__body " style="height:60%;max-height: none;overflow-y:unset ">
                <div class="fd-form__group">
                    <div class="fd-form__item">
                        <label class="fd-form__label" aria-required="true" for="input-2">Token*</label>
                        <textarea class="fd-form__control" style="resize: none;" #token_url></textarea>
                    </div>
                    <div class="fd-form__item fd-form__item--check">
                        <label class="fd-form__label" for="Ai4ez611">
                            <input type="checkbox" (click)="oninsecureConnection($event.target.checked)"
                                class="fd-form__control" id="Ai4ez611">
                            Insecure Connection &nbsp;
                        </label>
                        <span class="fd-inline-help">
                            <span class="fd-inline-help__content fd-inline-help__content--bottom-right">
                                Connect to kyma without certificate authorization (ex. kyma on minikube)
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <footer class="fd-modal__footer">
                <div class="fd-modal__actions">
                    <button class="fd-button" (click)="onConnect(token_url.value)">Connect</button>
                    <button (click)="onCloseModalClick()" class="fd-button--light">Cancel</button>
                </div>
            </footer>
        </div>
    </div>
</div>