<div style="background-color: white">
  <div class="fd-action-bar__back">
    <button class="fd-button--light fd-button--compact sap-icon--nav-back"></button>
  </div>
  <div class="fd-action-bar__header">
    <h1 class="fd-action-bar__title">
      {{api.name}}
    </h1>
  </div>
  <br />
  <div class="fd-container fd-container--fluid" style="background-color: white;">
    <span class="fd-tabs__item fd-col--1">
      Name<br /><br />
      Description
    </span>
    <span class="fd-tabs__item fd-col--3">
      {{api.name}}<br /><br />
      {{api.description}}
    </span>
    <span class="fd-tabs__item fd-col--1">
      Type<br /><br />
      Status
    </span>
    <span class="fd-tabs__item fd-col--7">
      {{api.labels.type}}<br /><br />
      <span *ngIf='remote' class="fd-badge fd-badge--success">remote</span>
      <span *ngIf='!remote' class="fd-badge fd-badge--warning">local</span>
    </span>
  </div>
</div>