<div *ngIf="alert" class="fd-alert fd-alert--error fd-alert--dismissible" role="alert">
  <button class="fd-alert__close" aria-label="Close" (click)="closeAlert()"></button>
  {{alertMessage}}
  <br />
</div>

<ng-container *ngIf="!connected">
  <header class="fd-page__header fd-has-background-color-background-2">
    <section class="fd-section">
      <div class="fd-action-bar">
        <div class="fd-action-bar__header">
          <h1 class="fd-action-bar__title">Connection Overview</h1>
        </div>
        <div class="fd-action-bar__actions">
          <button (click)=" openModal()" id="connectBtn" class="fd-button--main fd-button--l">Connect</button>
        </div>
      </div>
    </section>
  </header>

  <api-table [remote]='false' [connected]='connected'></api-table>
</ng-container>

<ng-container *ngIf="connected">
  <header class="fd-page__header fd-has-background-color-background-2">
    <section class="fd-section">
      <div class="fd-action-bar">
        <div class="fd-action-bar__header">
          <h1 class="fd-action-bar__title">
            Connection Overview
          </h1>
        </div>
        <div class="fd-action-bar__actions">
          <button class="fd-button fd-button--negative" (click)="onDisconnect()">Disconnect</button>
          <button class="fd-button--light sap-icon--download" (click)="downloadKey()">private key</button>
          <button class="fd-button--light sap-icon--download" (click)="downloadCert()">certificate</button>
        </div>
      </div>

      <table class="fd-table fd-table--no-borders">
        <tbody>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Application</td>
            <td>
              <a href="{{connection.applicationUrl}}" target="_blank">{{connection.application}} <span
                  class="sap-icon--action sap-icon--s"></span></a>
            </td>
          </tr>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Cluster</td>
            <td>
              <a href="{{connection.consoleUrl}}" target="_blank">{{connection.domain}} <span
                  class="sap-icon--action sap-icon--s"></span></a>
            </td>
          </tr>
          <tr>
            <td class="y-fd-table--col-2 fd-has-color-text-4">Status</td>
            <td>
              <span class="fd-badge fd-badge--success">Connected</span>
              <span *ngIf="insecureConnection" class="fd-badge fd-badge--warning">Insecure</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

  </header>

  <api-table [remote]='remote' [connected]='connected'></api-table>
</ng-container>

<div *ngIf="connectionModalActive" class="fd-ui__overlay fd-overlay fd-overlay--modal" aria-hidden="false">
  <div class="fd-modal" role="dialog" style="height:60%;width: 45%;max-width:none">
    <div class="fd-modal__content" role="document">
      <div class="fd-modal__header">
        <h1 class="fd-modal__title">Connect to Kyma</h1>
        <button (click)="onConnectionCloseModalClick()" class="fd-button--light fd-modal__close"
          aria-label="close"></button>
      </div>
      <div class="fd-modal__body " style="height:60%;max-height: none;overflow-y:unset ">
        <div class="fd-form__group">
          <div class="fd-form__item">
            <label class="fd-form__label" aria-required="true" for="input-2">Token*</label>
            <textarea class="fd-form__control" style="resize: none;" #token_url></textarea>
          </div>
          <div class="fd-form__item fd-form__item--check">
            <label class="fd-form__label" for="Ai4ez611">
              <input type="checkbox" (click)="onInsecureConnection($event.target.checked)" class="fd-form__control"
                id="Ai4ez611">
              Insecure Connection &nbsp;
            </label>
            <span class="fd-inline-help">
              <span class="fd-inline-help__content fd-inline-help__content--bottom-right">
                Connect to kyma without certificate authorization (ex. kyma on minikube)
              </span>
            </span>
          </div>
        </div>
      </div>
      <footer class="fd-modal__footer">
        <div class="fd-modal__actions">
          <button class="fd-button" (click)="onConnect(token_url.value)">Connect</button>
          <button (click)="onConnectionCloseModalClick()" class="fd-button--light">Cancel</button>
        </div>
      </footer>
    </div>
  </div>
</div>