<section class="fd-section">
  <!--The content below is only a placeholder and can be replaced.-->
  <div *ngIf="alert" class="fd-alert fd-alert--error fd-alert--dismissible" role="alert">
    <button class="fd-alert__close" aria-label="Close" (click)="closeAlert()"></button>
    {{alertMessage}}
    <br />
  </div>
  
  <div class="fd-panel" [attr.aria-busy]="loadInd ? 'true' : 'false'">
    <div class="fd-spinner" [attr.aria-hidden]="loadInd ? 'false' : 'true'" aria-label="Loading">
      <div></div>
    </div>
    <div class="fd-panel__header">
        <div class="fd-panel__head">

          <ng-container *ngIf="connected">
            <ul class="fd-tabs" role="tablist">
              <li class="fd-tabs__item">
                <a class=" fd-tabs__link" aria-controls="apitable" attr.aria-selected={{!remote}}
                  (click)="onLocalAPIClick()" href="#apitable" role="tab">
                  Local APIs
                </a>
              </li>
              <li class="fd-tabs__item">
                <a class=" fd-tabs__link" aria-controls="apitable" attr.aria-selected={{remote}}
                  (click)="onRemoteAPIClick()" href="#apitable" role="tab">
                  Remote APIs
                </a>
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="!connected">
            <h3 class="fd-panel__title">Local API</h3>
          </ng-container> 
            
        </div>
        <div class="fd-panel__actions">
          <ng-container *ngIf="!remote && connected">
            <button class="fd-button fd-button--light" (click)="onBatchRegisteration()">
              Batch Registration 
              <span class="fd-inline-help">
                <span class="fd-inline-help__content fd-inline-help__content--bottom-left">
                  Register all the local apis to kyma
                </span>
              </span>
            </button>
            <button class="fd-button fd-button--light" (click)="getStatus()">
              Registration Status 
              <span class="fd-inline-help">
                <span class="fd-inline-help__content fd-inline-help__content--bottom-left">
                  Shows the progress of the batch registration
                </span>
              </span>
            </button>
          </ng-container>

          <ng-container *ngIf="remote">
            <button *ngIf="!searchInd" class="fd-button sap-icon--search" (click)="openSearch()"></button>
            <div *ngIf="searchInd" class="fd-form__group" (clickOutside)="closeSearch()" [excludeBeforeClick]="true">
              <div class="fd-form__item">
                <label class="fd-form__label" for="">Search input</label>
                <div class="fd-input-group">
                  <input class="" type="search" id="search-1" name="" value="Search Term"
                    placeholder="Enter Term.." (keyup)="searchApis()">
                  <span class="fd-input-group__addon fd-input-group__addon--button">
                    <button class="fd-input-group__button fd-input-group__button--clear" aria-label="Clear"
                      onclick="document.getElementById('search-1').value = '';"></button>
                  </span>
                </div>
              </div>
            </div>
            <button class="fd-button sap-icon--filter"></button>
            <button class="fd-button fd-button--light sap-icon--add" routerLink="/createapi/false">Create New API</button>
            <button class="fd-button fd-button--light sap-icon--add" routerLink="/createapi/true">Create New Event</button>
          </ng-container>
        </div>
    </div>
    <div class="fd-panel__body fd-panel__body--bleed">
      <div *ngIf="isDataAvailable" class="fd-tabs__panel" aria-expanded="true" id="apitable" role="tabpanel">
        <table class="fd-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let api of apis; index as i" id="api{{i}}">
              <td>
                <a routerLink="/apiview/{{api.id}}/{{remote}}" class="fd-has-font-weight-bold">{{api.name}}</a>
              </td>
              <td>{{api.description}}</td>
              <td>{{api.labels.type}}</td>
              <td *ngIf="!remote">
                <button *ngIf="connected" class="fd-button--light" (click)="registerApi(api)">Register</button>
              </td>
              <td *ngIf="remote">
                <div class="fd-has-text-align-right">
                  <a routerLink="/apiview/{{api.id}}/{{remote}}" class="fd-has-margin-left-small fd-has-margin-right-small"><span class="sap-icon--edit sap-icon--m"></span></a>
                  <a (click)="deleteApi(api,i)" href="javascript:void(null)" class="fd-has-margin-left-small fd-has-margin-right-small fd-has-color-status-3"><span class="sap-icon--delete sap-icon--m"></span></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="statusModalActive" class="fd-ui__overlay fd-overlay fd-overlay--modal" aria-hidden="false">
    <div class="fd-modal" role="dialog" style="width: 45%;">
      <div class="fd-modal__content" role="document">
        <div class="fd-modal__header">
          <h1 class="fd-modal__title">Registration Status</h1>
          <button (click)="onStatusCloseModalClick()" class="fd-button--light fd-modal__close"
            aria-label="close"></button>
        </div>
        <div class="fd-modal__body">
          Successful Registration: <b>{{status.successCount}}</b><br />
          <br />
          Failed Registration: <b>{{status.failedCount}}</b><br />
          <br />
          Progress: <span *ngIf="status.done" class="fd-badge fd-badge--success">{{status.progress}}</span>
          <span *ngIf="!status.done" class="fd-badge fd-badge--warning">{{status.progress}}</span><br />
          <br />
          <div *ngIf="status.errorMessage">
            Errors:<br />
            <textarea class="fd-form__control" style="resize: none" readonly>{{status.errorMessage}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>