<html>

<head>
    <title>Harmonia</title>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
</head>

<body>
    <h1>Harmonia</h1>

    Token Url<input type="text" id="input"><br>
    <button id="button">Send!</button>

    <div>
        <b>Response:</b>
        <br>
        <p id="response">


        </p>
    </div>


    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                console.log($("#input").val())

                $.post("/startConn", {
                    url: $("input").val()
                },
                    function (data, status) {
                        console.log(data)
                        $("#response").text(data)
                    }
                )
                $.get("/", data => { console.log(data) })

            })
        })

    </script>
</body>

</html>