<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<html>

<head>
    <title>Varkes App Connector</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/css/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="/js/json.editor.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
          mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Varkes App Connector</span>
                <div class="mdl-layout-spacer"></div>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    onclick="opendialog()">Insert
                    Token
                </button>


            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Services</span>
            <nav class="mdl-navigation">
                <div id="services">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-left: 50"
                        onclick="newServiceView()">
                        New Service
                    </button>
                    <ul class="demo-list-item mdl-list">


                    </ul>
                </div>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                <div id="ed" style="text-align: -webkit-center">
                    <div id="jsoneditor" style="width: 700px; height: 600px;"></div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        id="create_service" onclick="createService()">Create
                        Service
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        id="update_service">Update
                        Service
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        id="delete_service">Delete
                        Service
                    </button>

                </div>
            </div>
    </div>
    </main>
    </div>

    <dialog class="mdl-dialog" id="dialog">
        <h4 class="mdl-dialog__title">Token Url</h4>
        <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="input">
                <label class="mdl-textfield__label" for="sample1">Text...</label>
                <p id="help"></p>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button" onclick="giveToken()">Send</button>

        </div>
    </dialog>
</body>


<script>
    $(document).ready(function () {
        newServiceView()
        getServices()
    })

    function newServiceView() {
        editor.set(json);
        $("#create_service").show()
        $("#update_service").hide()
        $("#delete_service").hide()
    }
    function deleteService(serviceID) {
        $.ajax({
            url: `/services/${serviceID}`,
            type: "DELETE",
            success: function (data) {
                getServices()
                newServiceView()
            }
        })
    }
    function getServices() {

        $("#services ul").empty()
        console.log("get Services called")
        $.ajax(
            {
                type: "get",
                url: "/services",
                success: function (data) {
                    data.forEach(element => {
                        $("#services ul").append
                            (`
                                        <a href="#" onClick=showService('${element.id}') class="mdl-navigation__link">
                        
                           ${element.name}
                        
                                        </a>`)
                    });

                }

            }
        ).fail(function (xhr, options, error) {
            $("#services ul").text("No certificate defined, please provide a token url")
        })
    }

    function opendialog() {
        document.getElementById('dialog').showModal();

    }

    function createService() {
        $.ajax({
            type: "POST",
            url: "/services",
            data: JSON.stringify(editor.get()),
            success: function (data) {
                getServices()
                showService(data.id)

            },
            contentType: "application/json"
        }

        )
    }

    function updateService(serviceId) {
        $.ajax({
            type: "PUT",
            url: `/services/${serviceId}`,
            data: JSON.stringify(editor.get()),
            success: function (data) {
                console.log(data)
                getServices()
            },
            contentType: "application/json"
        })
    }
    function giveToken() {
        var sendData = `{ "url": "${$("#input").val()}" }`
        console.log(sendData)
        $.ajax({
            type: "POST",
            url: "/startConn",
            data: sendData,
            success: function (data) {

                getServices()
                document.getElementById('dialog').close();
            },
            error: function (data) {
                $("#help").val(data)
            },
            contentType: "application/json"
        }

        )
    }

    function showService(serviceID) {
        $.ajax({
            type: "get",
            url: `/services/${serviceID}`,
            success: function (data) {
                data.id = serviceID
                $("#serviceJSON").val(JSON.stringify(data))
                editor.set(data)
                $("#create_service").hide()
                $("#update_service").show()
                $("#update_service").attr("onclick", `updateService("${serviceID}")`)

                $("#delete_service").show()
                $("#delete_service").attr("onclick", `deleteService("${serviceID}")`)

            }
        })
    }



    var container = document.getElementById("jsoneditor");
    var options = {};
    var editor = new JSONEditor(container, options);

    // set json
    var json = {
        "provider": "aY",
        "name": "ec-mock-service-4",
        "description": "testing... 1.2.3.",
        "api": {
            "targetUrl": "http://localhost/target",
            "credentials": {
                "oauth": {
                    "url": "http://localhost/oauth/validate",
                    "clientId": "string",
                    "clientSecret": "string"
                }
            },
            "spec": {}
        },
        "events": {
            "spec": {}
        },
        "documentation": {
            "displayName": "string",
            "description": "string",
            "type": "string",
            "tags": [
                "string"
            ],
            "docs": [
                {
                    "title": "string",
                    "type": "string",
                    "source": "string"
                }
            ]
        }

    };
    editor.set(json);

</script>

</html>